
<script>
import axios from 'axios'

const calculateLots = (array) => {
  return { highest: Math.max.apply(null,
    array.map(function (o) { return o.lots_available })),
  lowest: Math.min.apply(null,
    array.map(function (o) { return o.lots_available }))}
}

export default {
  data () {
    return {
      info: [],
      loading: true,
      errored: false
    }
  },
  mounted () {
    this.pullData()

    window.setInterval(() => {
      this.pullData()
    }, 60000)
  },
  methods: {
    pullData () {
      axios
        .get('https://api.data.gov.sg/v1/transport/carpark-availability')
        .then(response => {
          let parking = {small: [], medium: [], big: [], large: []}
          let highestInGroup = 0
          let lowestInGroup = 0
          let sorted = []

          for (const f of response.data.items[0].carpark_data) {
            let total = 0
            let highestInSection = 0
            let lowestInSection = 0
            let calculatedLots = {}

            f.carpark_info.forEach(item => {
              total += parseInt(item.total_lots)
            })

            if (total < 100) {
              calculatedLots = calculateLots(f.carpark_info)
              highestInSection = calculatedLots.highest
              lowestInSection = calculatedLots.lowest
              parking.small.push({carpark_number: f.carpark_number, highestInSection, lowestInSection})
            }

            if (total < 300 && total > 100) {
              calculatedLots = calculateLots(f.carpark_info)
              highestInSection = calculatedLots.highest
              lowestInSection = calculatedLots.lowest
              parking.medium.push({carpark_number: f.carpark_number, highestInSection, lowestInSection})
            }

            if (total < 400 && total > 300) {
              calculatedLots = calculateLots(f.carpark_info)
              highestInSection = calculatedLots.highest
              lowestInSection = calculatedLots.lowest
              parking.big.push({carpark_number: f.carpark_number, highestInSection, lowestInSection})
            }

            if (total > 400) {
              calculatedLots = calculateLots(f.carpark_info)
              highestInSection = calculatedLots.highest
              lowestInSection = calculatedLots.lowest
              parking.large.push({carpark_number: f.carpark_number, highestInSection, lowestInSection})
            }
          }

          for (const group in parking) {
            highestInGroup = Math.max.apply(null,
              parking[group].map(function (o) { return o.highestInSection }))
            lowestInGroup = Math.min.apply(null,
              parking[group].map(function (o) { return o.lowestInSection }))
            sorted.push({group: group, highest: parking[group].filter(item => item.highestInSection === highestInGroup), lowest: parking[group].filter(item => item.lowestInSection === lowestInGroup)
            })
          }

          this.info = sorted
        })
        .catch(error => {
          console.log(error)
          this.errored = true
        })
      // eslint-disable-next-line no-return-assign
        .finally(() => this.loading = false)
    }
  },
  name: 'App'
}
</script>

<template>
  <div id="app">
    <h1>Car Park Singapore</h1>
    <section v-if="errored">
    <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
    </section>
  <section v-else>
    <div v-if="loading">Loading...</div>

    <div
      v-else
    >
    <div v-for="item of info" :key="item.group">
      <h1>{{ item.group.toUpperCase() }}</h1>
      <h4>Highest ( Available Lots {{ item.highest[0].highestInSection }} )</h4>
        <p v-for="h of item.highest" :key="h.highest">{{ h.carpark_number }},  </p>

      <h4>Lowest ( Available Lots {{ item.lowest[0].lowestInSection }} )</h4>
      <template class="carpark_name" v-for="h of item.lowest">{{ h.carpark_number }}, </template>
    <div></div>
      ============================================================================
    </div>
    </div>
  </section>
  </div>
</template>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.carpark_name {
  width: 100px
}
</style>
